.#{$namespace}-viewport {

  .#{$namespace}-badge-container {

    position: relative;

    .#{$namespace}-badge {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: absolute;
      top: -1.2em;
      right: -1.2em;
      padding: 0em 0.4em;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-decoration: none;
      outline: 0;
      line-height: 1.6em;
      font-size: 0.92em;
      font-weight: bold;
      color: $color-text;
      background: eui-color('gray', 'light-1');

      // Gets rid of tap active state
      -webkit-tap-highlight-color: transparent;

      &.#{$namespace}-primary {
        color: $color-text-bg;
        background: eui-color('primary', 'base');
      }

      &.#{$namespace}-secondary {
        color: $color-text-bg;
        background: eui-color('secondary', 'base');
      }

      &.#{$namespace}-danger {
        color: $color-text-bg;
        background: eui-color('danger', 'base');
      }

      &.#{$namespace}-warning {
        color: $color-text-bg;
        background: eui-color('warning', 'base');
      }

      &.#{$namespace}-caution {
        color: $color-text;
        background: eui-color('caution', 'base');
      }

      &.#{$namespace}-notice {
        color: $color-text-bg;
        background: eui-color('notice', 'base');
      }

      &.#{$namespace}-safety {
        color: $color-text-bg;
        background: eui-color('safety', 'base');
      }

    }

  }

}