.#{$eui-namespace}-viewport {

  ul.#{$eui-namespace}-breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-table;
    color: $eui-color-title;
    > li {
      display: inline;
      > i {
        margin: 0 0.40em;
      }
      > span.#{$eui-namespace}-active {
        color: $eui-color;
        cursor: default;
      }
    }
  }

}