.#{$eui-namespace}-viewport {

  a.#{$eui-namespace}-button, button.#{$eui-namespace}-button, input.#{$eui-namespace}-button {
    cursor: pointer;
    display: inline-block;
    //margin: 0;
    padding: $eui-unit-grid*3 $eui-unit-grid*5;
    border: none;
    outline: 0;
    line-height: 1.1;
    text-decoration: none;
    text-shadow: none;
    text-align: center;

    font-family: $eui-font-family;
    font-size: $eui-font-size;
    font-weight: bold;
    
    color: $eui-color;
    background: $eui-color-bg;
    z-index: 1;
    transition: 0.2s ease-out;
    user-select: none;

    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: eui-color('gray', 'light-1');
    }

    &.#{$eui-namespace}-primary {
      color: $eui-color-white;
      background: eui-color('primary', 'base');
      &:hover {
        background: eui-color('primary', 'dark-1');
      }
    }

    &.#{$eui-namespace}-secondary {
      color: $eui-color-white;
      background: eui-color('secondary', 'base');
      &:hover {
        background: eui-color('secondary', 'dark-1');
      }
    }

    &.#{$eui-namespace}-danger {
      color: $eui-color-white;
      background: eui-color('danger', 'base');
      &:hover {
        background: eui-color('danger', 'dark-1');
      }
    }

    &.#{$eui-namespace}-warning {
      color: $eui-color-white;
      background: eui-color('warning', 'base');
      &:hover {
        background: eui-color('warning', 'dark-1');
      }
    }

    &.#{$eui-namespace}-caution {
      color: $eui-color;
      background: eui-color('caution', 'base');
      &:hover {
        background: eui-color('caution', 'dark-1');
      }
    }

    &.#{$eui-namespace}-notice {
      color: $eui-color-white;
      background: eui-color('notice', 'base');
      &:hover {
        background: eui-color('notice', 'dark-1');
      }
    }

    &.#{$eui-namespace}-safety {
      color: $eui-color-white;
      background: eui-color('safety', 'base');
      &:hover {
        background: eui-color('safety', 'dark-1');
      }
    }

    &.#{$eui-namespace}-reverse {
      color: $eui-color-white;
      background: $eui-color;
      &:hover {
        background: #000000;
      }
    }

    &:disabled,
    &[disabled] {
      pointer-events: none;
      background: $eui-color-disabled-bg;
      color: $eui-color-disabled;
      cursor: default;
    }

    &.#{$eui-namespace}-flat {
      background: transparent;
      transition: none;

      &:hover {
        background: transparent;
        text-decoration: underline;
      }

      &.#{$eui-namespace}-primary {
        color: eui-color('primary', 'base');
      }

      &.#{$eui-namespace}-secondary {
        color: eui-color('secondary', 'base');
      }

      &.#{$eui-namespace}-danger {
        color: eui-color('danger', 'base');
      }

      &.#{$eui-namespace}-warning {
        color: eui-color('warning', 'base');
      }

      &.#{$eui-namespace}-caution {
        color: eui-color('caution', 'base');
      }

      &.#{$eui-namespace}-notice {
        color: eui-color('notice', 'base');
      }

      &.#{$eui-namespace}-safety {
        color: eui-color('safety', 'base');
      }

      &.#{$eui-namespace}-reverse {
        color: $eui-color-white;
      }

      &:disabled,
      &[disabled] {
        pointer-events: none;
        background: transparent;
        color: $eui-color-disabled;
        cursor: default;
      }

    }

    &.#{$eui-namespace}-block {
      width: 100%;
    }

    &.#{$eui-namespace}-compact {
      line-height: 1.1;
      padding: $eui-unit-grid*1.5 $eui-unit-grid*2.5;
      font-weight: normal;
    }

    > i.#{$eui-namespace}-icon {
      &:first-child {
        margin: 0 $eui-unit-grid*2 0 $eui-unit-grid*-1;
      }
      &:last-child {
        margin: 0 $eui-unit-grid*-1 0 $eui-unit-grid*2;
      }
      &:only-child {
        margin: 0;
      }
    }

  }

}