.#{$eui-namespace}-viewport {

  form.#{$eui-namespace}-form, div.#{$eui-namespace}-select {
    width: 100%;
    margin: 0;
    padding: 0;

    font-size: $eui-font-size;
    font-family: $eui-font-family;

    span.#{$eui-namespace}-fieldset {
      display: block;
      font-size: 1.08em;
      font-weight: bold;
      line-height: 1.76em;
      color: $eui-color;
      border-bottom: $eui-widget-form-input-border;
    }
    label {
      display: block;
      line-height: 1.75em;
      color: $eui-color;
      font-size: 1em;
      font-weight: bold;
      -webkit-tap-highlight-color: transparent;

      &.#{$eui-namespace}-checkbox, &.#{$eui-namespace}-radio {
        font-weight: normal;
      }

      &.#{$eui-namespace}-inline {
        display: inline-block;
        margin-right: 20px;
      }

    }
    input, select, textarea, .#{$eui-namespace}-input {
      display: block;
      width: 100%;
      margin: 0;
      padding: ($eui-unit-grid*3) - 1; // remove 1 pixel because border
      line-height: 1.1;
      font-size: $eui-font-size;
      font-family: $eui-font-family;
      background: $eui-color-bg;
      border: $eui-widget-form-input-border;
      box-shadow: none;
      outline: none;

      &::placeholder {
        opacity: 0.9;
        font-weight: normal;
      }

    }
    textarea {
      min-height: 6em;
    }
    input:focus, select:focus, textarea:focus, .#{$eui-namespace}-input:focus {
      background: $eui-color-focus-bg;
      border: $eui-widget-form-input-focus-border;
    }
    input[disabled],
    input[readonly],
    select[disabled],
    select[readonly],
    textarea[disabled],
    textarea[readonly] {
      background: $eui-color-disabled-bg;
      border: 1px solid $eui-color-disabled-bg;
      color: $eui-color;
      //&:focus {
      //  border: $eui-widget-form-input-border;
      //}
    }

    // checkbox and radio common
    input[type="checkbox"],
    input[type="radio"] {

      display: none;

      + span.#{$eui-namespace}-fake:before {
        width: 16px;
        height: 16px;
        margin-top: -4px;
        margin-right: 0.56em;
        content: "";
        display: inline-block;
        vertical-align: middle;
        background: $eui-color-bg;
        border: $eui-widget-form-input-border;
        transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        z-index: 1;
      }

      &:checked + span.#{$eui-namespace}-fake:before {
        border: $eui-widget-form-input-focus-border;
        border-width: 5px;
      }

      &:disabled:not(:checked) + span.#{$eui-namespace}-fake:before {
        background: $eui-color-disabled-bg;
        border: 1px solid $eui-color-disabled-bg;
      }

      &:disabled:checked + span.#{$eui-namespace}-fake:before {
        background: $eui-color-disabled-bg;
        border-color: eui-color('primary', 'light-2');
        border-width: 5px;
      }

    }

    // radio
    input[type=radio] {

      + span.#{$eui-namespace}-fake:before {
        border-radius: 50%;
      }

    }

    .#{$eui-namespace}-input-icon {
      display: flex;
      border: $eui-widget-form-input-border;

      &:focus-within {
        border: $eui-widget-form-input-focus-border;
      }

      input, select, textarea, .#{$eui-namespace}-input {
        border: 0;
      }

      i.#{$eui-namespace}-icon {
        padding: 0.64em 0.32em;
        vertical-align: middle;
        line-height: 1.28em;
        background: $eui-color-bg;
      }

    }

  }

}

@import 'form/select';
