.#{$eui-namespace}-viewport {

  i.#{$eui-namespace}-icon {
    
    &.#{$eui-namespace}-primary {
      color: eui-color('primary', 'base');
    }

    &.#{$eui-namespace}-secondary {
      color: eui-color('secondary', 'base');
    }

    &.#{$eui-namespace}-danger {
      color: eui-color('danger', 'base');
    }

    &.#{$eui-namespace}-warning {
      color: eui-color('warning', 'base');
    }

    &.#{$eui-namespace}-caution {
      color: eui-color('caution', 'base');
    }

    &.#{$eui-namespace}-notice {
      color: eui-color('notice', 'base');
    }

    &.#{$eui-namespace}-safety {
      color: eui-color('safety', 'base');
    }

    &:disabled,
    &[disabled] {
      opacity: 0.4;
      color: $eui-color-disabled;
      cursor: default;
    }

  }

}