.#{$namespace}-viewport {

  a.#{$namespace}-link {
    cursor: pointer;
    border: none;
    display: inline-block;
    font-size: 1em;
    text-decoration: underline;
    color: e-color('e-color-notice', 'base');

    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent;

    &:hover {
      text-decoration: none;
    }

    &.#{$namespace}-primary {
      color: e-color('e-color-primary', 'base');
    }

    &.#{$namespace}-secondary {
      color: e-color('e-color-secondary', 'base');
    }

    &.#{$namespace}-danger {
      color: e-color('e-color-danger', 'base');
    }

    &.#{$namespace}-warning {
      color: e-color('e-color-warning', 'base');
    }

    &.#{$namespace}-caution {
      color: e-color('e-color-caution', 'base');
    }

    &.#{$namespace}-notice {
      color: e-color('e-color-notice', 'base');
    }

    &.#{$namespace}-safety {
      color: e-color('e-color-safety', 'base');
    }

    &.#{$namespace}-black {
      color: $color-text;
    }

    &.#{$namespace}-white {
      color: $color-text-bg;
    }

    &:disabled,
    &[disabled] {
      pointer-events: none;
      color: $color-disabled-color;
      cursor: default;
      text-decoration: none;
    }

  }

}