.#{$eui-namespace}-viewport {

  a.#{$eui-namespace}-link {
    cursor: pointer;
    border: none;
    display: inline-block;
    font-size: 1em;
    text-decoration: underline;
    color: eui-color('notice', 'base');

    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent;

    &:hover {
      text-decoration: none;
    }

    &.#{$eui-namespace}-primary {
      color: eui-color('primary', 'base');
    }

    &.#{$eui-namespace}-secondary {
      color: eui-color('secondary', 'base');
    }

    &.#{$eui-namespace}-danger {
      color: eui-color('danger', 'base');
    }

    &.#{$eui-namespace}-warning {
      color: eui-color('warning', 'base');
    }

    &.#{$eui-namespace}-caution {
      color: eui-color('caution', 'base');
    }

    &.#{$eui-namespace}-notice {
      color: eui-color('notice', 'base');
    }

    &.#{$eui-namespace}-safety {
      color: eui-color('safety', 'base');
    }

    &.#{$eui-namespace}-black {
      color: $eui-color;
    }

    &.#{$eui-namespace}-white {
      color: $eui-color-bg;
    }

    &:disabled,
    &[disabled] {
      pointer-events: none;
      color: $eui-color-disabled;
      cursor: default;
      text-decoration: none;
    }

  }

}