.#{$eui-namespace}-viewport {

  .#{$eui-namespace}-loading {

    div.#{$eui-namespace}-ball {
      width: 0.72em;
      height: 0.72em;
      margin: 0.12em;
      background: eui-color('primary', 'base');
      border-radius: 100%;
      display: inline-block;
      animation: #{$eui-namespace}-loading 2s infinite ease-in-out both;
    }

    div.#{$eui-namespace}-ball-1 {
      animation-delay: -0.56s;
    }

    div.#{$eui-namespace}-ball-2 {
      animation-delay: -0.48s;
    }

    div.#{$eui-namespace}-ball-3 {
      animation-delay: -0.40s;
    }

    div.#{$eui-namespace}-ball-4 {
      animation-delay: -0.32s;
    }

    div.#{$eui-namespace}-ball-5 {
      animation-delay: -0.24s;
    }

    div.#{$eui-namespace}-ball-6 {
      animation-delay: -0.16s;
    }

  }

}

@keyframes #{$eui-namespace}-loading {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
  }
}
