.#{$namespace}-viewport {

  .#{$namespace}-notification {
    padding: 0.64em 1.28em;
    font-size: 1em;
    color: $color-text;
    background-color: eui-color('gray', 'light-3');

    &.#{$namespace}-primary {
      color: #ffffff;
      background: eui-color('primary', 'base');
    }
    &.#{$namespace}-secondary {
      color: #ffffff;
      background: eui-color('secondary', 'base');
    }
    &.#{$namespace}-reverse {
      color: #ffffff;
      background: #000000;
    }
    &.#{$namespace}-danger {
      background: eui-color('danger', 'light-3');
    }
    &.#{$namespace}-warning {
      background: eui-color('warning', 'light-3');
    }
    &.#{$namespace}-caution {
      background: eui-color('caution', 'light-3');
    }
    &.#{$namespace}-notice {
      background: eui-color('notice', 'light-3');
    }
    &.#{$namespace}-safety {
      background: eui-color('safety', 'light-3');
    }
  }

}