.#{$eui-namespace}-viewport {

  .#{$eui-namespace}-notification {
    padding: $eui-unit-grid*2 $eui-unit-grid*4;
    font-size: 1em;
    line-height: 1.1;
    color: $eui-color;
    background-color: eui-color('gray', 'light-3');

    &.#{$eui-namespace}-reverse {
      color: #ffffff;
      background: eui-color('black', 'dark-2');
    }
    &.#{$eui-namespace}-danger {
      //background: scale-color(eui-color('danger', 'light-3'), $lightness: -5%);
      background: eui-color('danger', 'light-3');
    }
    &.#{$eui-namespace}-warning {
      //background: scale-color(eui-color('warning', 'light-3'), $lightness: -5%);
      background: eui-color('warning', 'light-3');
    }
    &.#{$eui-namespace}-caution {
      //background: scale-color(eui-color('caution', 'light-3'), $lightness: -5%);
      background: eui-color('caution', 'light-3');
    }
    &.#{$eui-namespace}-notice {
      //background: scale-color(eui-color('notice', 'light-3'), $lightness: -5%);
      background: eui-color('notice', 'light-3');
    }
    &.#{$eui-namespace}-safety {
      //background: scale-color(eui-color('safety', 'light-3'), $lightness: -5%);
      background: eui-color('safety', 'light-3');
    }
  }

}