.#{$namespace}-tab {
  > .#{$namespace}-tab-menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    overflow: auto;

    > .#{$namespace}-tab-item {
      float: left;

      + .#{$namespace}-tab-item {
        margin-left: 0.32rem;
      }

      > .#{$namespace}-tab-link {
        display: inline-block;
        height: 48px;
        padding: 0.5em 1em;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px solid transparent;

        &:focus,
        &:hover {
          border-bottom: 2px solid #ff98ad;
        }

        &.disabled {
          &,
          &:focus,
          &:hover {
            color: #818a91;
            cursor: not-allowed;
          }
        }

        &.active {
          &,
          &:focus,
          &:hover {
            border-bottom: 2px solid #ff98ad;
          }
        }

      }

    }

  }

  > .#{$namespace}-tab-content {
    padding: 20px 10px;
    > .#{$namespace}-tab-pane {
      display: none;
    }
    > .active {
      display: block;
    }
  }
}
