.#{$namespace}-viewport {

  table.#{$namespace}-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0px;
    border-top: 1px solid $color-border;
    background: $color-text-bg;
    white-space: nowrap;

    &.#{$namespace}-striped {
      > tbody {
        > tr {
          &:nth-child(odd) {
            background-color: eui-color('gray', 'light-3');
          }
        }
      }
    }

    > thead {
      > tr {
        > th {
          padding: 1.16em;
          border-bottom: 1px solid $color-border;
          font-size: 0.92em;
          font-weight: bold;
          text-align: left;
          color: eui-color('black', 'light-2');
        }
      }
    }
    > tbody {
      > tr {
        > td {
          padding: 0.64em 1.28em;
          border-bottom: 1px solid $color-border;
          font-size: 1em;
          color: $color-text;
        }
        &:hover {
          background-color: eui-color('gray', 'light-2') !important;
        }
        &.#{$namespace}-gray {
          background-color: eui-color('gray', 'light-3');
        }
        &.#{$namespace}-danger {
          background-color: eui-color('danger', 'light-3');
        }
        &.#{$namespace}-warning {
          background-color: eui-color('warning', 'light-3');
        }
        &.#{$namespace}-caution {
          background-color: eui-color('caution', 'light-3');
        }
        &.#{$namespace}-notice {
          background-color: eui-color('notice', 'light-3');
        }
        &.#{$namespace}-safety {
          background-color: eui-color('safety', 'light-3');
        }
        &.#{$namespace}-text-bold {
          font-weight: bold;
        }
      }
    }

  }

  // make the table responsive
  div.#{$namespace}-table-container {
    overflow-x: auto;
  }

}