.#{$eui-namespace}-viewport {

  table.#{$eui-namespace}-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0px;
    border-top: 1px solid $eui-widget-table-color-border;
    background: $eui-color-white;
    white-space: nowrap;

    &.#{$eui-namespace}-striped {
      > tbody {
        > tr {
          &:nth-child(odd) {
            background-color: $eui-widget-table-color-bg;
          }
        }
      }
    }

    > thead {
      > tr {
        > th {
          padding: $eui-unit-grid*4;
          border-bottom: 1px solid $eui-widget-table-color-border;
          font-size: 0.92em;
          font-weight: bold;
          text-align: left;
          line-height: 1.1;
          color: eui-color('black', 'light-2');
        }
      }
    }
    > tbody {
      > tr {
        > td {
          padding: $eui-unit-grid*2 $eui-unit-grid*4;
          border-bottom: 1px solid $eui-widget-table-color-border;
          font-size: 1em;
          line-height: 1.1;
          color: $eui-color;
        }
        &:hover {
          background-color: $eui-color-hover !important;
        }
        &.#{$eui-namespace}-gray {
          background-color: eui-color('gray', 'light-3');
        }
        &.#{$eui-namespace}-danger {
          background-color: eui-color('danger', 'light-3');
        }
        &.#{$eui-namespace}-warning {
          background-color: eui-color('warning', 'light-3');
        }
        &.#{$eui-namespace}-caution {
          background-color: eui-color('caution', 'light-3');
        }
        &.#{$eui-namespace}-notice {
          background-color: eui-color('notice', 'light-3');
        }
        &.#{$eui-namespace}-safety {
          background-color: eui-color('safety', 'light-3');
        }
        &.#{$eui-namespace}-text-bold {
          font-weight: bold;
        }
      }
    }

  }

  // make the table responsive
  div.#{$eui-namespace}-table-container {
    overflow-x: auto;
  }

}