.#{$eui-namespace}-viewport {

  // grid
  div.#{$eui-namespace}-layout-grid {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .#{$eui-namespace}-row {
      flex: 0 1 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: auto;
    }

    .#{$eui-namespace}-column {

      &.#{$eui-namespace}-sm-offset-0 {
        margin-left: 0 !important;
      }

      @for $i from 1 through $eui-layout-grid-columns {
        $perc: unquote((100 / ($eui-layout-grid-columns / $i)) + "%");
        &.#{$eui-namespace}-sm-#{$i} {
          flex: 0 1 $perc;
          margin-left: 0;
          overflow: auto;
        }
        &.#{$eui-namespace}-sm-offset-#{$i} {
          margin-left: $perc !important;
        }
      }

      @media #{$eui-media-query-screen-up} {

        &.#{$eui-namespace}-offset-0 {
          margin-left: 0 !important;
        }

        @for $i from 1 through $eui-layout-grid-columns {
          $perc: unquote((100 / ($eui-layout-grid-columns / $i)) + "%");
          &.#{$eui-namespace}-#{$i} {
            flex: 0 1 $perc;
            margin-left: 0;
            overflow: auto;
          }
          &.#{$eui-namespace}-offset-#{$i} {
            margin-left: $perc !important;
          }
        }

      }

    }

  }

}