.#{$eui-namespace}-viewport {

  .#{$eui-namespace}-calendar {

    h2 {
      margin: 0;
      padding: 1em;
      line-height: 1.5;
      font-weight: 300;
      color: #fff;
      background: eui-color('primary', 'base');
      text-align: center;
    }

    .#{$eui-namespace}-day {
      width: 14.285714286%; // 100%/7
      padding: 0.5em;
    }

    > .#{$eui-namespace}-week-days {

      color: #fff;
      background: eui-color('primary', 'base');

      > .#{$eui-namespace}-day {
        display: inline-block;
        line-height: 1.5;
      }
    }

    > .#{$eui-namespace}-calendar-grid {
      display: flex;
      flex-direction: column;

      > .#{$eui-namespace}-calendar-row {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        > .#{$eui-namespace}-day {

          background: eui-color('gray', 'light-3');
          border: 1px solid eui-color('gray', 'light-2');
          border-bottom: 0;
          border-right: 0;

          &.#{$eui-namespace}-other-month {
            opacity: 0.5;
          }

          &:not(.#{$eui-namespace}-other-month):hover {
            color: #fff;
            background: eui-color('primary', 'base');
          }

        }

      }

    }

  }

}