// namespace / prefix
$eui-namespace: "eui";


// colors
$eui-color-white: #ffffff;

$eui-color: eui-color('black', 'dark-1');
$eui-color-bg: eui-color('gray', 'light-2');
$eui-color-border: eui-color('gray', 'light-1');
$eui-color-hover: eui-color('primary', 'light-3');

$eui-color-title: eui-color('primary', 'dark-1');

$eui-color-disabled: eui-color('gray', 'dark-1');
$eui-color-disabled-bg: eui-color('gray', 'light-3');
$eui-color-disabled-border: $eui-color-disabled-bg;

$eui-color-focus-bg: eui-color('notice', 'light-3');
$eui-color-focus-border: eui-color('notice', 'base');


// unit grid
// all spaces must be multiple of this
// unit grid is used for space between and in components
$eui-unit-grid: 4px;


// eui breakpoint size
// we just consider small or big screens, just one breakpoint
$eui-media-screen-break-point: 800px;

// media queries
$eui-media-query-screen-down: "only screen and (max-width : #{$eui-media-screen-break-point})" !default;
$eui-media-query-screen-up: "only screen and (min-width : #{($eui-media-screen-break-point + 1)})" !default;


// font
$eui-font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$eui-font-size: 1em;


// layout grid
$eui-layout-grid-columns: 24;


// widgets
// form
$eui-widget-form-input-border: 1px solid $eui-color-border;
$eui-widget-form-input-focus-border: 1px solid $eui-color-focus-border;

// table
$eui-widget-table-color-bg: eui-color('gray', 'light-3');
$eui-widget-table-color-border: eui-color('gray', 'light-2');
