// namespace / prefix
$namespace: "eui";


// components unit grid
// all spaces must be multiple of this
// components unit grid is used for space between components
$component-unit-grid: 8px;
// components unit grid is used for components inner spaces
$component-unit-grid-inner: $component-unit-grid / 2;


// breakpoint sizes
$media-screen-small: 800px;

// media queries
$media-query-small-down: "only screen and (max-width : #{$media-screen-small})" !default;
$media-query-small-up: "only screen and (min-width : #{($media-screen-small + 1)})" !default;


// grid
$grid-horizontal-total-columns: 24;


// colors
$color-bg: eui-color('gray', 'light-3');
$color-border: eui-color('gray', 'light-2');

$color-disabled-bg: eui-color('gray', 'light-2');
$color-disabled-color: eui-color('gray', 'dark-2');
$color-disabled-color-darker: darken(eui-color('gray', 'dark-2'), 10%);

$color-focus-bg: eui-color('notice', 'light-3');
$color-focus-border: eui-color('notice', 'base');

$color-text: #232323;
$color-text-bg: #ffffff;
$color-title: eui-color('primary', 'dark-2');


// font
$font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-size-default: 1em;


// form
$form-input-border: 1px solid $color-border;

$form-input-focus-border: 1px solid $color-focus-border;
