.#{$eui-namespace}-viewport {

  ul.#{$eui-namespace}-tree {
    margin: 0;
    padding: 0;
    cursor: pointer;
    list-style: none;
    font-size: 1em;
    text-align: left;
    -webkit-tap-highlight-color: transparent;

    a {
      display: block;
      padding: 0.80em;
      color: $eui-color;
      text-decoration: none;
      &:hover {
        background: $eui-color-hover;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li.#{$eui-namespace}-branch {
      > ul {
        display: none;
      }
      > a {
        &::before {
          font-family: "eui-icon-font";
          content: "\e80b";
          display: inline-block;
          margin-right: 0.60em;
          transition: transform 0.3s ease-in-out;
        }
      }
      &.#{$eui-namespace}-open {
        > ul {
          display: block;
        }
        > a::before {
          transform: rotate(90deg);
        }
      }
    }

    li.#{$eui-namespace}-leaf {
      i.#{$eui-namespace}-icon, img.#{$eui-namespace}-icon {
        margin-right: 0.64em;
        font-style: normal;
      }
    }

  }

}